mixin staff-preview-card(data)
  .staff-preview-card-container
    .staff-preview-card(class= data.cls ? data.cls : null)
      .staff-preview-card__header
        picture
          source(
            srcset= data.image.replace('.jpg', '@2x.webp').replace('.png', '@2x.webp').replace('.jpeg', '@2x.webp') + ' 2x, ' + data.image.replace('.jpg', '.webp').replace('.png', '.webp').replace('.jpeg', '.webp') + ' 1x'
            type="image/webp"
          )
          source(
            srcset= data.image.replace('.jpg', '@2x.jpg').replace('.png', '@2x.png').replace('.jpeg', '@2x.jpeg') + ' 2x, ' + data.image + ' 1x'
            type="image/jpeg"
          )
          img(src= data.image alt= data.name width="360" height="540")
        span.title= data.name    
      .staff-preview-card__content
        +label({
          text: data.label,
          cls: 'label--bordered'
        })
        span.subtitle= data.position
        p.text= data.text
        +mainBtn({
          isIconed: true,
          modalID: 'staff-preview-modal'
        })
    
    template(data-title= data.name).staff-preview-modal-tpl
      span.subtitle= data.position
      if data.detailText
        != data.detailText

  