include ../label/tpl.pug
include ../main-btn/tpl.pug

mixin schedule-card(data)
  .schedule-card-container
    .schedule-card
      span.title= data.title
      span.subtitle!=  data.address
      +label(data.label)
      .workday-row
        each day in data.workdays
          .workday-label(class= day.active ? 'active' : '')!= day.text
      span.subtitle!=  data.worktime
      +mainBtn({
        text: 'Узнать стоимость',
        modalID: 'affiliate-modal'
      })

    template(id='affiliate-modal-tpl' data-title="Стоимость занятий")
      p.text Обучаем с нуля девочек и мальчиков школьного и дошкольного возраста спортивному и синхронному плаванию
      span.title!= data.title

      .price-list
        ul
          each price in data.prices
            li
              span.price-list__name!= price.name
              span.price-list__value!= price.value
      
      +mainBtn({
        text: 'Записаться',
        modalID: 'offer-modal'
      })


      
