mixin course-card(data)
  .course-card-container
    .course-card
      .course-card__content
        span.title= data.title

        each item in data.programm
          span.text!= '- ' + item
        
        span.subtitle!= 'Стоимость программы:<br> от <span>' + data.price + '</span> рублей'
        if data.note
          small.text!= '*' + data.note 
        +mainBtn({
          text: 'Записаться',
          modalID: 'offer-modal',
          dataProgram: data.title ? data.title : ''
        })
        
      picture
        source(
          srcset= data.image.replace('.jpg', '@2x.webp').replace('.png', '@2x.webp').replace('.jpeg', '@2x.webp') + ' 2x, ' + data.image.replace('.jpg', '.webp').replace('.png', '.webp').replace('.jpeg', '.webp') + ' 1x'
          type="image/webp"
        )
        source(
          srcset= data.image.replace('.jpg', '@2x.jpg').replace('.png', '@2x.png').replace('.jpeg', '@2x.jpeg') + ' 2x, ' + data.image + ' 1x'
          type="image/jpeg"
        )
        img(src= data.image alt= data.title width="235" height="270")